.container {
  width: 30%;
  margin-left: 3rem;
  display: flex;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__item {
      padding: 2rem;
      background-color: #fbfbfb;
      border-radius: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
