@use '../../variables';

.title {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 2rem;

  &__name {
    color: variables.$color-red;
  }
}

.content {
  display: flex;
  margin-top: 3rem;

  &__recharts {
    width: 90%;

    &__bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
    }
  }
}
