.container {
  background-color: #fbfbfb;
  border-radius: 10px;

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 2rem;
  }

  &__list {
    display: flex;
    align-items: center;
    padding: 2rem;

    &__item {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 500;

        &:first-child {
            margin-right: 2rem;
        }

        span {
            display: block;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            margin-right: 1rem;
        }

        .circle_grey {
            background-color: #282D30;
        }

        .circle_red {
          background-color: #E60000;  
        }
    }
  }
}

.text {
    display: flex;
    justify-content: space-between;
}
