@use '../../variables';

.container {
  background-color: variables.$background-grey-light;
  border-radius: 0 0 10px 10px;

  .custom {
    background-color: variables.$color-red-dark;

    &__label {
      color: white;
      padding: 2rem;
    }
  }
}
