$color-red: #ff0101;
$color-red-dark: #E60000;
$color-blue: #4ab8ff;
$color-yellow: #fdcc0c;
$color-pink: #fd5181;
$color-grey-light: #74798c;
$background-black: #020203;
$background-grey: #282d30;
$background-grey-light: #fbfbfb;

$font-family: 'Roboto', sans-serif;
