@use './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: variables.$font-family;
  height: 100vh;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .content {
    display: flex;
    flex: auto;
  }

  .main {
    padding: 3rem 5rem;
    flex: auto;

    &__hello {
      font-size: 4rem;
      font-weight: 500;
      margin-bottom: 2rem;

      &__name {
        color: variables.$color-red;
      }
    }
  }
}
