@use '../../variables';

.nav_horizontal {
  background-color: variables.$background-black;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0px 4px 4px rgba($color: #000, $alpha: 0.25);

  &__picture {
    width: 178px;
    object-fit: contain;
  }

  &__nav {
    flex: auto;

    &__list {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      a {
        color: white;
        font-weight: 500;
        font-size: 2.4rem;
      }
    }
  }
}
